body {
    background-position: center;
    background-image: url(tumblr_mtygnj0ELN1s5jjtzo1_400.gif);
    background-attachment: fixed;
}

h1 {
	text-align:center;
	margin: 10px;
	background-attachment: fixed;
}

h2 {
	text-align: center;
	color: white;
	margin: 20px;
	font-family: 'BebasNeueBold';
	font-weight: normal; 
	font-style: normal;
	font-size: 140px;
}

h3 {
	text-align: center;
	color: white;
	margin: 50px;
	font-family: 'BebasNeueBold';
	font-weight: normal; 
	font-style: normal;
	font-size: 70px;
}

p {
	text-align: center;
	color: white;
	margin: 20px;
	font-family: 'BebasNeueBold';
   font-weight: normal; 
   font-style: normal;
   	font-size: 40px; 
}

li {
	font-family: 'BebasNeueBold'; 
	font-weight: normal; 
	font-style: normal; 
	font-size: 40px; 
}
